.page-section {
    padding: 8rem 0;
    .text-muted {
        color: #6c757d!important;
    }
    .d-block {
        display: block!important;
    }
    a {
        color: #f4623a;
        text-decoration: none;
        background-color: transparent;
    }
}